*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Microsoft JhengHei",sans-serif;
}

body{
    background:#f4f7f6;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    font-size:36px;
    margin-bottom:10px;
}

.container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:40px;
}

.card{
    width:400px;
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#2e7d32;
    margin-bottom:15px;
}

.card ul{
    list-style:none;
}

.card li{
    padding:10px;
    border-bottom:1px solid #ddd;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}

/* 手機版 */
@media(max-width:768px){

    .container{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:90%;
    }
.form-box{
    width:500px;
    max-width:90%;
    background:white;
    margin:30px auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.form-box input,
.form-box select{
    width:100%;
    padding:12px;
    margin:10px 0;
}

.form-box button{
    width:100%;
    background:#2e7d32;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
}

.form-box button:hover{
    background:#1b5e20;
}
}